<div class="columns is-multiline">
  <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white">
          Lisbon
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
          <p>Lat: {{station.latitude}} </p>
          <p>lng: {{station.longitude}} </p>
      </article>
    </section>
    </div>
    
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Weather
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
        <p>Clear</p>
      </article>
    </section>
    </div>
      
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Temp
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
        <p>Max: {{maxTemp.temperature}}°С</p>
        <p>Min: {{minTemp.temperature}}°С</p>
      </article>
    </section>
    </div>
      
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Wind
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
        <p>Max speed: {{maxWindSpeed.windspeed}}m/s</p>
        <p>Min speed: {{minWindSpeed.windspeed}}m/s</p>
        <p>Max degrees: {{maxWindDirection.winddirection}} </p>
        <p>Min degrees: {{minWindDirection.winddirection}}</p>
      </article>
    </section>
    </div>
      
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Pressure
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content is-vcentered">
        <p>
         Max: {{maxPressure.pressure}}hPa
        </p>
        <p>
         Min: {{minPressure.pressure}}hPa
        </p>
      </article>
    </section>
    </div>
      
</div>
